
.Text {
    color:blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
a.my-link:hover {
    color: rgb(129, 216, 148);
    text-decoration: none;
    font-weight: bold;
}

a.my-link:active {
    background-color: rgb(99, 80, 202);
}

.my-link {
    color: green;
    font-size: 20px;
}

p.intro::first-letter {
    font-size: 200%;
    color: red;
    font-weight: bold;
}

.marker::after {
    content: "Привет";
    color: rgb(173, 88, 149);
    font-style: italic;
}

.button {
    width: 200px;
    height: 200px;
    background-color: gray;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px

}

.button:focus {
    background-color: rgb(10, 196, 41);
    transform: scale(1.1);
}

.button::before {
    content: "Отправить";
    color: white;
}

.button:focus::before {
    content: "Готово!";
}
